<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{!-- CDN-Bootstrap --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Productos</title>
</head>
<body>

    <h1 class="text-center mt-5 mb-5 fw-bolder text-decoration-underline text-info">Tabla de productos</h1>

{{#if productos}}
<table class="table table-striped table-hover container mt-5">
    <thead>
        <tr>
            <th>#</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Imagen</th>
        </tr>
    </thead>
    <tbody>
        {{#each productos}}
        <tr>
            <th> {{ this.id }} </th>
            <th> {{ this.title }} </th>
            <th> {{ this.price }} </th>
            <th><img width="40" height="40" src={{ this.thumbnail }}></th>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<h4 class="text-center mt-5 mb-5 fw-bolder text-danger">No se encontraron resultados</h4>
{{/if}}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>
</html>